<h4>Programming related books I recommend.</h4>
<ul>
	<li>Design Patterns- Elements of Reusable Object-Oriented Software by Erich Gamma, Richard Helm, Ralph Johnson and John Vlissides</li>
	<li>Clean Code by Robert Martin</li>
	<li>Growing Object-Oriented Software, Guided By Tests by Steve Freeman and Nat Pryce</li>
	<li>JavaScript the Good Parts by Douglas Crockford</li>
	<li>Agile Web Development with Rails 4 by Sam Ruby, Dave Thomas and David Heinemeier Hansson</li>
	<li>Implementation Patterns by Kent Beck</li>
	<li>Practical Object-Oriented Design in Ruby by Sandi Metz</li>
</ul>