<div class="container-floating">
	<div class="row">
		<div class="col-sm-12 col-md-8 col-lg-7">
			<game-of-life></game-of-life>
		</div>
		<div class="col-sm-12 col-md-4 col-lg-5">
			<div class="well" id="game-explanation">
				<p>This is my implementation of Conway's game of life.</p>
				<p>The rules are fairly simple:</p>
				<ol>
					<li>Any live cell with fewer than two live neighbors dies, as if caused by under-population.</li>
					<li>Any live cell with two or three live neighbors lives on to the next generation.</li>
					<li>Any live cell with more than three live neighbors dies, as if by over-population.</li>
					<li>Any dead cell with exactly three live neighbors becomes a live cell, as if by reproduction.</li>
				</ol>
				<br>
				<p>Click on a location to create a live cell.  Then click run to start cycling the generations.  The speed can be adjusted with the slider, or if you prefer to see each generation one step at a time click the step button.</p>
				<a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">More information can be found here.</a>
			</div>
		</div>
	</div>
</div>